@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

/* --------------------------------------------------- Colours */
.bg-color-name-title {
    background-color: #000D20;
}

.color-menu-home,
.color-menu-resume,
.color-menu-contact,
.color-menu-download {
    background-color: #EDEDED;
    border-right: 1px dotted #9C9C9C;
}

/* --------------------------------------------------- Header */

header {
    margin: 0;
}

.logo {
    background: url("../images/emidio.jpg") no-repeat center;
    background-size: cover;
    min-height: 360px;
}

.heading {
    margin-left: 60px;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #F7F7F7;
}

.menu-container {
    font-size: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#nav li {
    font-size: 18px;
}

.col-menu {
    height: 120px;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    color: #000D20;
    text-decoration: none;
    height: 120px;
}

.menu-item a i {
    padding-top: 30px;
    color: #314A72;
    display: block;
    font-size: 28px;
}

.menu-item span {
    display: block;
    padding-top: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
